	
p.help-block.mb-0 {
    color: red;
}

.select2{
	width: 100% !important;
}

.brand-link .brand-image{
    float: none; 
    line-height: .8;
    margin-left: .8rem;
    margin-right: .5rem;
    margin-top: -3px;
    max-height: 150px;
    width: 200px;
}
.brand-link{
	background: white;
}